worker_processes  1;

events {
    worker_connections 512;
}

http {
    server {
        listen  8000;

        # listen 443 ssl;
        # ssl_certificate /etc/letsencrypt/live/xxxxxxxx/fullchain.pem;
        # ssl_certificate_key /etc/letsencrypt/live/xxxxxxxx/privkey.pem;

        server_name xxxxxxxx;
        charset UTF-8;

        proxy_set_header    Host    $host;

        index index.html index.nginx-debian.html;

        location / {
            alias /var/www/html/;
        }

        location /holocollect/ {
            proxy_pass http://127.0.0.1:8001/;
        }
    }
}
